 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>최선</h2>
      <i class="fa fa-4x fa-users"></i>
      <p>모든 선생님들이 중등은 물론 고등 수학 전문가!</p>
    </div>
    <div class="tech">
      <h2>최고</h2>
      <i class="fa fa-4x fa-graduation-cap"></i>
      <p>3년 연속 제주도내 최고 수준의 입시실적 달성!</p>
    </div>
    <div class="tech">
      <h2>최대</h2>
      <i class="fa fa-fx fa-map-marker"></i>
      <p>마침내, 수학 과목 하나만으로 도내 최대 규모 달성!</p>
    </div>
</div>
