 <div class="user-details">
  <h1> About<br>알파테크닉</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>최선</h2>
      <i class="fa fa-2x fa-users"></i>
     <p>모든 선생님들이 중등은 물론<br><strong>고등 수학 전문가!</strong></p>
    </div>
    <div class="tech">
      <h2>최고</h2>
      <i class="fa fa-2x fa-graduation-cap"></i>
     <p>3년 연속 제주도내<br><strong>최고 수준의 입시실적 달성!</strong></p>
    </div>
    <div class="tech">
      <h2>최대</h2>
      <i class="fa fa-2x fa-map-marker"></i>
     <p>마침내, 수학 과목 하나만으로<br><strong>도내 최대 규모 달성!</strong></p>
    </div>
</div>
