<div class="user-details">
  <h1> 교육과정 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="timetable" src="{{ "/assets/img/timetable.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 시간표 </h3>
    <ul>
      <li>중1</li>
    </ul>
    <p>반명	선생님	강의실	시간
중1 S	강정은		월수 5:30-8:00			금 5:30-8:30
중1 A	강정은		화목 5:00-7:30			토 10:00-1:00
중1 B	김지영		화목 5:00-7:30			토 10:00-1:00
중1 C1	최꽃잎		월수 5:30-7:30			금 5:30-7:30
중1 C2	이호준		화목 5:30-7:30			토 10:00-12:00</p>
    
     <ul>
      <li>중2</li>
    </ul>
    <p>반명	선생님	강의실	시간
중2 B	강정은		화목 7:30-10:00			토 9:00-12:00
중2 B1	이호준		월수 5:30-8:00			금 5:30-8:30
중2 B2	김지영		화목 7:30-10:00			토 1:00-4:00
중2 C1	김준석		월수 5:30-7:30			금 5:30-7:30
중2 C2	최꽃잎		화목 5:30-7:30			토 10:00-12;00</p>
 
    <a class="project-link" href="https://talk.naver.com/ct/wcbi4b" target="_blank">상담신청</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="tuition" src="{{ "/assets/img/tuition.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 수강료 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://talk.naver.com/ct/wcbi4b" target="_blank">상담신청</a>
  </div>
</div>
