<div class="user-details">
  <h1> 교육과정 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="timetable" src="{{ "/assets/img/timetable.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 시간표 및 수강신청 방법</h3>
    
    <ul>
      <li>초·중등부</li>
    </ul>
    <p>
    <ol>
      <li>진도 및 난이도별로 S / A / B / C 반이 있습니다. 우선 교육상담을 통해 지금 바로 입학 가능한 반이 있는지 확인해주세요. (입학테스트가 있으며, 입학테스트 후에 반배정 해드립니다.)<br><strong>교육상담: 내원상담 또는 전화상담 064-724-0188</strong></li>
      <li>요일별로 월수금 / 화목토 반이 있습니다. 학교활동 및 타학원 스케줄을 고려해서 선택해주세요.</li>
      <li>시간대별로 평일5:30시작 / 평일7:30시작 반이 있습니다. 배정받은 반, 요일, 시간대를 모두 고려해서 수강신청해주세요.</li>
    </ol>
    </p>
    <a class="project-link" href="https://alphatechnic.modoo.at/?link=8o7sdym1" target="_blank">시간표</a>
    <ul>
      <li>고등부</li>
    </ul>
    <ol>
      <li>과목마다 난이도별로 S / A / B / C 반이 있습니다. 우선 교육상담을 통해 지금 바로 입학 가능한 반이 있는지 확인해주세요.<br><strong>교육상담: 내원상담 또는 전화상담 064-724-0188</strong></li>
      <li>요일별로 월수 / 화목 / 토일 반이 있습니다. 학교활동 및 타학원 스케줄을 고려해서 선택해주세요.</li>
      <li>시간대별로 평일7:30시작 / 평일9:30시작 / 주말 반이 있습니다. 배정받은 반, 요일, 시간대를 모두 고려해서 수강신청해주세요.</li>
    </ol>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="tuition" src="{{ "/assets/img/tuition.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 수강료 안내</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://talk.naver.com/ct/wcbi4b" target="_blank">상담신청</a>
  </div>
</div>
